 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    user-select: none;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    
}

.btn-nav{
    text-decoration: none;
    padding: 10px;
    width: 220px;
    border: 1px solid #172339;
    color: #172339;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 32px;
    font-weight: 700;
    transition: 0.5s;
    
}

.btn-nav:hover{
    background-color: #49566D;
    color: #FAF8F6; 
}

.logo a img{
    margin-top: 5px;
    width: 100px;
}

.hero-image{
    display: none;
}

.first-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-bottom: 20px;
    font-weight: 400;
    color: #172339;
}
span{
    font-weight: 700;
}

.hero-text{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #49566D;
    width: 350px
}

.btn-section-one{
    text-decoration: none;
    padding: 15px;
    width: 350px;
    background-color:#172339;
    color: #FAF8F6;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 32px;
    font-weight: 700; 
    margin-bottom: 20px;
    transition: 0.8s;
}

.btn-section-one:hover{
    background-image: linear-gradient(#A060FF,#CB30E3,#FFA84E);
}

.hero-image-m{
    display: block; 
    position: relative;
    width: 100%;
    margin: 0px auto 20px auto;
}

aside ul li{
    list-style: none;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

aside h2{
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
    margin-top: 50px;
}

aside p{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #49566D;
}

.first-section-curv img{
    position: relative;
    left: 198px;
    max-width: 180px;
    max-height: 30px;
}

.second-section{
    display: flex;
    flex-direction: column;
    background-color: #172339;
    position: relative;
    top: 150px;
    max-height: 900px;
    width: 100%;
    border-radius: 10px;
}
.jeremy-image{
    display: none;
}

.quote-container{
    width: 100%;
}

blockquote{
    position: relative;
    top: -320px;
}
blockquote .quote-text, blockquote figcaption{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #FAF8F6;
    line-height: 35px;
    letter-spacing: 0px;
    padding: 20px 20px;
    max-width: 600px;
    margin: auto;
}
blockquote h2{
    font-size: 48px;
    text-align: center;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
    font-weight: 400;
}

blockquote figcaption{
    text-transform: uppercase;
}

.pattern-curved-line-2{
    display: block;
    width: 100px;
    margin: 10px auto;
    position: relative;
    top: -30px;
}


.pattern-blur{
    display: block;
    width: 200px;
    margin: 20px auto;
}

.jeremy-image-s{
    display: block;
    margin: 0px auto;
    position: relative;
    top: -400px;
}

.relative{
    position: relative;
}
footer{
    width: 100%;
    padding:50px;
    background-color: #F3EDE7;
    position: absolute;
    top: -400px;
    bottom: -500px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    z-index: -300;

}

.footer-logo{
    margin-top: 10px;
    width: 100px;
    margin: 10px auto;
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.copy-right{
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #49566D;
    align-items: baseline;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

footer ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    
}

footer ul li a img:hover{
    filter: grayscale(100%);
}


@media all and (max-width: 375px){
    .btn-section-one{
        width: 100%;
    }
}



@media all and (max-width: 477px){
    h1{
        font-size: 2.3rem;
    }

    .first-section-curv img{
        left: 140px;  
    }

    .hero-image-s{
        display: block;
        margin-bottom: 20px;
    }
    .hero-image-m{
        display: none;   
    }

    aside h2{
        font-size: 65px;  
    }
    
    aside p{
        font-size: 14px;
    }
}

@media all and (min-width: 666px){
    .hero-image-m{
        max-width: 614px;
    }
}
@media all and (min-width: 969px){
   h1{
        font-size: 72px;
        line-height: 78px;
        letter-spacing: -1px;
   }

   .hero-text{
    width: 400px;
   }

   .hero-image-m{
    display: none;
   }

   .hero-image-l{
    max-width: 350px;
    display: block;
    position: relative;
    top: -400px;
    left: 490px;
    z-index: -100;
    margin-right: 20px;
   }

   aside ul li{
    display: inline-block;
    }

   aside{
    margin: auto;
    position: relative;
    top: -400px;
    margin-top: 50px;
  }

  .main-container{
    position: relative;
    width: 80%;
    margin: auto;
    top: 100px;
    }

    .first-section-curv img{
        left: 350px;  
    }

    .jeremy-image-s{
        display: none;
    }

    .jeremy-image-m{
        display: block;
        margin: auto;
        position: relative;
        top: -500px;
    }


    .second-section{
        position: static;
    }

    blockquote{
        top: -400px;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;

    }

    .footer-logo{
        margin: 0px;
        align-items: baseline;
        left: 100px;
        bottom: 100px
    }

    footer ul{
        bottom: 100px;
        left: 100%;
        right: -200px;
        transform: translateX(-100%);
    }
    .copy-right{
        bottom: 100px;
    }

}


@media all and (min-width: 1326px){
    aside ul li{
        display: block;
        position: relative;
        top: -650px;
        left: 470px;
    }

    .hero-image-l{
        display: none;
       }

       .hero-image-xl{
        width: 400px;
        display: block;
        position: relative;
        top: -400px;
        left: 490px;
        z-index: -100;
        margin-right: 20px;
       }

       .second-section{
        position: absolute;
        top: 1052px;
        bottom: 0px;
        flex-direction: row;
    }

    .jeremy-image-m{
        display: none;
    }
    .jeremy-image-l{
        display: block;
        position: absolute;
        left: 60px;
        width: 430px;
        top: 995px;
        z-index: 100;
    }

    blockquote{
        top: 100px;
        right: 50px
    }

   

blockquote .quote-text, blockquote figcaption{
    text-align: left;
    width: 390px;
    
}
blockquote h2{
    text-align: left;
}

.pattern-curved-line-2{
    top: 200px;
    left: -270px
}

.pattern-blur{
    display: block;
    width: 500px;
    height: 500px;
    margin: 20px auto;
}

       
}


