 @media screen and (min-width:280px) {
    /* ROOT */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   /* NAVIGATION MANU*/
    nav{
        position: relative;
        top: 0%;
        left: 0%;
        right: 100%;
        min-height: 100px ;
    }

    .logo{
        position: absolute;
        left: 0px;
        top:0px;
        padding: 25px 20px;
        min-width: 30px;
       
    }
        
    .btn-nav {
        position: absolute;
        right: 0px;
        top:0px;
        margin: 25px 20px;
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 0.3rem;
    }
/* SECTION ONE */
    h1{
        font-size: min(2em);
        text-align: justify;
        width: 100%;
        padding-left: 20px;
    }

    p.hero-text{
        padding: 25px 20px;
        max-width: 350px;
    }
    .btn-section-one{
        margin: 25px 20px;
        text-decoration: none;
        border: 1px solid black;
        padding: 10px;
        color: black;
        border-radius: 0.3rem;
    }
    .hero-image{
        display: none;
    }

    .hero-image-s{
        display: block;
        max-width: 280px;
        margin: auto;
        padding-top: 25px;
    }

    
    aside{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    aside ul li {
        list-style: none;
        padding-top: 30px;

        
    }

    /* SECTION TWO */
    .second-section{
        position: relative;
        top:-200px;
    }
    .pattern-blur{
        display: block;
        max-width: 280px;
        margin: auto;
        position: relative;
        top: 300px;
        z-index: -100;
    }
    .jeremy-image{
        display: none;
    }
    .jeremy-image-s{
        display: block;
        max-width: 180px;
        margin: auto;
        padding-top: 25px;

    }
    .pattern-curved-line-2{
         display: block;
         max-width: 180px;
         margin: 25px auto;
         position: relative;
         top: 60px;
         padding: 25px;
         
         
    }
    blockquote h2, blockquote p, blockquote figcaption{
        text-align: center;
        padding: 25px 20px 0px 20px;

    }

    blockquote{
        background-color: aquamarine;
        position: relative;
        left: 0px;
        right: 0px;
        top: -100px;
        z-index: -100;
        padding-top: 25px;
        padding-bottom: 50px ;
    }


    footer{
        position: relative;
        right: 0px;
        left: 0px;
        top: -130px;
    }

    .footer-logo{
        display: block;
        min-width: 30px;
        margin: auto;
    }
    .copy-right{
        text-align: center;
        padding-top: 25px;
    }
    footer ul{
       position: absolute;
       top: 100px;
       left: 50%;
       transform: translate(-50%);
    }
    footer ul li{
        display: inline-block;
        margin: 20px 10px;
       
    }
 }

 @media screen and (min-width:551px) {
    .hero-image-s{
        display: none;
    }
    .hero-image-m{
        display: block;
        max-width: 551px;
        padding: 20px;
        margin: auto;

    }

    .jeremy-image-s{
        display: none;
    }
   

    .jeremy-image-m{
        display: block;
        max-width: 551px;
        margin: auto;
        padding-top: 25px;

    }

 }

 
 @media screen and (min-width:727px) {
    .hero-image-m{
        display: none;
    }
    .hero-image-l{
        display: block;
        max-width: 727px;
        padding: 20px;
        margin: auto;
    }

    .jeremy-image-m{
        display: none;
    }
   

    .jeremy-image-l{
        display: block;
        max-width: 727px;
        margin: auto;
        padding-top: 25px;

    }

 }

 