/* DEFAULT */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
:root{
    --primary:#172339;
    --secondary: #F3EDE7;
    --paragraph-one: #49566D;
    --paragraph-two: #FAF8F6;

    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Epilogue', sans-serif; 
}
html{
    overflow-x: none; 
    
}
body{
    background-color: var(--paragraph-two);
   
    
}
/* DEFAULT */
/* RE-USEABLE CLASS PROPERTIES */


.btn{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--paragraph-two);

}

.btn-ghoast{
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.8s;
}

.btn-ghoast:hover{
    background-color: var(--primary);
    border: 1px solid transparent;
    color: var(--paragraph-two)
}

.btn-full{
    background-image: linear-gradient(var(--primary),var(--primary));
    border: 1px solid transparent;
    transition: 0.8s;
}

.btn-full:hover{
    color: var(--paragraph-two);
    border: 1px solid transparent;
    background-image: linear-gradient(45deg,#CB30E3,#FFA84E);
}


.curv img{
    width: 220px;
    height: 30px;
}

p{
    color: var(--paragraph-one);
}
/* RE-USEABLE CLASS PROPERTIES END */


/* MAIN CONTAINER */
.main-container{
    width: 80%;
    margin: auto;
}

/* NAVIGATION SECTION */
nav{
    position: relative;
    width: 100%;
    height: 100px;
}

.logo{
  position: absolute;  
  left: 0px;
  top: 20px;
}

.btn-nav{
    position: absolute;
    right: 0px;
    top: 20px;
}
/* NAVIGATION SECTION END */


/* FIRST SECTION */
.first-section{
    position: relative;
    padding-top: 100px; 
    height: 700px;
    
}

.first-section-curv{
    
    position: absolute;
    left: 325px;
    top: 80px;
}

h1{
    font-weight: 400;
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 78px;
    color: var(--primary);
    margin: 20px;
}

h1 span{
    font-weight: 700;
}
.hero-text{
    padding-top: 40px;
    margin-left: 20px;
    width: 300px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 32px;
}



.hero-image{
    position: absolute;
    top: 0px;
    z-index: -100;
    left: 485px;
   
} 
    .image-1{
        width: 340px;
    }

.hero-image-2{
    display: none;
}

.image-3{
    display: none;
}

aside{
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 0px 50px;
    transform: translateY(-80%);

}

aside ul li{
    list-style: none;
    margin-top: 20px;
    color: var(--primary);
}
h2{
    font-size: 48px;
    font-style: 700;
    line-height: 56px;
    letter-spacing: -0.5px;

}
/* FIRST SECTION END */

/* SECOND SECTION */
.second-section{
    position: relative;
    top: 200px;
    right: 0px;
}

.qoute-container{
    background-color: var(--primary);
    border-radius: 10px;
   
    
}
blockquote h2{
    font-size: 80px;
}
blockquote {
    width: 58%;
    position: absolute;
    top: 0px;
    right: -90px;
    padding: 150px;
    color: var(--paragraph-two);
    font-size: 18px;
    line-height: 32px;
}

blockquote p, .second-section-h2 {
    color: #fff;
}

.pattern-curved-line-2{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    
}

.jeremy-xl{
    position: absolute;
    top: -106px;
    bottom: 0px;
    left: 20px;
    width: 370px;
    z-index: 100;
}
.jeremy-l{
    position: absolute;
    display: none;

}
pattern-curved-line-2{
    display: none;
}
.second-section-h2{
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 40px;
}
cite{
    display: block;
}
figcaption{
    margin-top: 10px;
}

/* SECOND SECTION END */
/* MAIN CONTAINER END */

/* FOOTER SECTION */

footer{
    position: relative;
    bottom: 0px;
    background-color: var(--secondary);
    width: 100%;
    height: 400px;
    z-index: -100;
}

.footer-logo{
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.copy-right{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);

}

footer ul{
    position: absolute;
    right: 10%;
    bottom: 20%;
    list-style: none;
   
}

footer ul li{
    display: inline-block;
    margin-left: 10px;
}
/* FOOTER SECTION END */